# Ignore virtual environment
venv/
ENV/
env/

# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
*.idea/
